# Numbers

    Types of Numbers in Python
    Basic Arithmetic
    Differences between Python 2 vs 3 in division
    Object Assignment in Python

## Types of numbers

Python has various "types" of numbers (numeric literals).

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Here is a table of the two main types we will spend most of our time working with some examples:

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1, 2, -5, 1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2, -0.5, 2e2, 3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

### Basic Arithmetic

In [0]:
# Addition
2+1

3

In [0]:
a = [1,2,3,4]

In [0]:
type(a)

list

In [0]:
a[3]

4

In [0]:
a[3] = 500000

In [0]:
a

[1, 2, 3, 500000]

In [0]:
b = (1,2)

In [0]:
type(b)

tuple

In [0]:
b[1] = 1000

TypeError: ignored

In [0]:
a = "this is AI training"

In [0]:
b =  a.split(" ")

In [0]:
type(b)

list

In [0]:
# Subtraction
2-1

1

In [0]:
# Multiplication
2*2

4

In [0]:
# Division
3/2

1.5

### <font color='red'>Python 2</font>

In Python 2, 3 divided by 2 is equal to 1

So what do we do if we are using Python 2 to avoid this?

There are two options:

Specify one of the numbers to be a float:

In [0]:
# Specifying one of the numbers as a float
3.0/2

1.5

In [0]:
# Works for either number
3/2.0

1.5

We could also "cast" the type using a function that basically turns integers into floats. This function, unsurprisingly, is called float().

In [0]:
# We can use this float() function to cast integers as floats:
float(3)/2

1.5

We can use to deal with classic division in Python 2 is importing from a module called __future__.

This is a module in Python 2 that has Python 3 functions, this basically allows you to import Python 3 functions into Python 2.

In [0]:
from __future__ import division
3/2

1.5

When you import division from the __future__ you won't need to worry about classic division occurring anymore anywhere in your code!

### Arithmetic continued

In [0]:
# Powers
2**3

8

In [0]:
# Can also do roots this way
4**0.5

2.0

In [0]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [0]:
# Can use parenthesis to specify orders
(2+10) * (10+3)

156

## Variable Assignments

In [0]:
# Let's create an object called "a" and assign it the number 5
a = 5

Now if I call *a* in my Python script, Python will treat it as the number 5.

In [0]:
# Adding the objects
a+a

10

What happens on reassignment? Will Python let us write it over?

In [0]:
# Reassignment
a = 10

In [0]:
# Check
a

10

Yes! Python allows you to write over assigned variable names. We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

In [0]:
# Check
a

10

In [0]:
# Use A to redefine A
a = a + a

In [0]:
# Check 
a

20

The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    3. It's considered best practice (PEP8) that the names are lowercase.

Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [0]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [0]:
# Show my taxes!
my_taxes

10.0